.front-header {
	background: url(images/header-picture.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 25% 50%;
	width: 100%;
	height: 100vh;
}
.content {
	padding-top: 100px;
}
.names {
	line-height: 0.9;
	margin-bottom: 80px;
}
.names h1 {
	font-size: 67px;
	margin: 0;
	font-family: Roboto Slab, serif;
	font-weight: normal;
}
.fire {
	width: 80px;
	max-height: 90%;
}
.text-content {
	width: 25%;
	line-height: 1.8;
	margin-bottom: 100px;
}
.btn-wrapper {
	display: flex;
	justify-content: start;
	height: 220px;
}
.btn-wrapper .btn:nth-child(1) {
	align-self: flex-end;
}
.btn-wrapper .btn:nth-child(2) {
	align-self: center;
}
.btn-wrapper > * {
	margin: 0 13px;
}
.background {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100vh;
	background: linear-gradient(90deg, rgba(27,54,75,0.81) 0%, rgba(12,20,28,0.41) 50%);
}
.content {
	position: relative;
	z-index: 2;
}
.text-content {
	margin-bottom: 90;
}
