html,body{
	overflow-y: hidden;
	overflow-x: hidden;
}
.front-header {
	background: url(images/portrait-3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 25% 50%;
	width: 100%;
	height: 100vh;
	padding:30px 125px;	
}
.content {
	padding-top: 100px;
}
.names {
	line-height: 0.9;
	margin: 0;
	width: 44%;
    border-left: 4px solid var(--main-light);
    border-bottom: 4px solid var(--main-light);
    padding-left: 40px;
    padding-bottom: 20px;
}
.names h1 {
	font-size: 67px;
	margin: 0;
	font-family: Roboto Slab, serif;
	font-weight: normal;
}
.fire {
	width: 80px;
	max-height: 90%;
}
.text-content {
	font-size: 22px;
	width: 80%;
}
.btn-wrapper {
	display: flex;
	justify-content: start;
	height: 220px;
}
.btn-wrapper .btn:nth-child(1) {
	align-self: flex-end;
}
.btn-wrapper .btn:nth-child(2) {
	align-self: center;
}
.btn-wrapper > * {
	margin: 0 13px;
}
.background {
	backdrop-filter: blur(4px);
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100vh;
	background: linear-gradient(90deg, rgba(27,54,75,0.81) 0%, rgba(12,20,28,0.41) 50%);
}
.content {
	position: relative;
	z-index: 2;
}
