@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
:root {
	--main-text: #faf9f9;
	--main-border: #faf9f9;
	--main-light: #faf9f9;
	--main-green: #6a706c;
	--dark-green: #5d1b28;
	--light-green: #bee3db;
	--accent-beige: #ffd6ba;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Roboto, sans-serif;
	color: var(--main-text);
}
h1,
h2,
h3,
h4 {
	font-family: Roboto Slab;
}
h1 {
	font-size: 38px;
}
a {
	text-decoration: none;
	color: inherit;
}
p {
	line-height: 1.6;
}
blockquote {
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 20px;
	line-height: 1.7;
}
blockquote::after {
	content: "„";
	font-size: 22px;
	font-weight: bold;
}

blockquote::before {
	content: "“";
	font-size: 22px;
	font-weight: bold;
}

.btn {
	height: 27px;
	padding: 15px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--main-border);
	background-color: var(--main-light);
	color: var(--dark-green);
	position: relative;
	max-width: 230px;
	text-align: center;
	border-radius: 3px;
}
.btn-rounded {
	background-color: var(--dark-green);
}
.btn-rounded .text {
	color: var(--main-light);
	mix-blend-mode: difference;
}
.btn-rounded::before {
	transition: all 0.85s cubic-bezier(0.68, -0.2, 0.265, 1.1);
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 99px;
	width: 0;
	background: var(--main-light);
}
.btn-rounded:hover::before {
	background: var(--main-light);
	width: 100%;
}
.btn,
.btn-big {
	padding: 25px 25px;
	min-width: 200px;
	font-size: 20px;
}
.btn-ghost {
	background-color: transparent;
	color: var(--main-text);
}
.container {
	padding: 0 80px;
}
