body,html{
    margin: 0;
    padding: 0;
    background: url('./images/dot-pattern.svg'), linear-gradient(45deg, rgba(27,54,75,1) 0%, rgba(12,20,28,1) 100%);
}
.passion-page{
    background: url('./images/dot-pattern.svg'), linear-gradient(45deg, rgba(27,54,75,1) 0%, rgba(12,20,28,1) 100%);
    background-repeat: repeat;
    padding:30px 70px;
    max-width: 1150px;
    margin:0 auto;
}
.passion-page__box{
    clip-path: polygon(0 8%, 7% 0, 100% 0, 100% 90%, 5% 90%, 0 100%);
    background-color: #485161;
    height: 500px;
    align-self: flex-end;
}
.passion-page__image-text{
    display: flex;
    position: relative;
}
.passion-page__image-text img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 600px;
    max-height: 600px;
    border: 2px solid #fff;
    align-self: flex-end;
}
.passion-page__heading-box{
    position: relative;
}

.lines{
    display: flex;
    height: 90px;
    padding: 20px;
    margin: 20px 0;
    border-left: 4px solid var(--main-light);
    border-bottom: 4px solid var(--main-light);
}

.lines h1{
    margin: 0;
}

.passion-page__image-text.rotated{
    display: flex;
    flex-direction: row-reverse;

}

.passion-page__image-text.rotated > .passion-page__box{
    clip-path: polygon(0 0, 92% 0, 100% 10%, 100% 100%, 95% 85%, 0 85%);
}

.arrow.rotated{
    transform: scale(-0.6,0.6);
    visibility: hidden;
}

.arrow{
    transform: scale(0.6);
    visibility: hidden;
}

/* .animated-line {
    stroke-dashoffset: 1000;
    stroke-dasharray: 0;
    animation: dash 5s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
        stroke-dasharray: 100;
    }
  } */