body,html{
    margin: 0;
    padding: 0;
    background: url('./images/dot-pattern.svg'), linear-gradient(45deg, rgba(27,54,75,1) 0%, rgba(12,20,28,1) 100%);
}
.long-page{
    background: url('./images/dot-pattern.svg'), linear-gradient(45deg, rgba(27,54,75,1) 0%, rgba(12,20,28,1) 100%);
    background-repeat: repeat;
    padding:30px 70px;max-width: 1150px;margin:0 auto;;
}
.long-page__box{
    clip-path: polygon(0 8%, 7% 0, 100% 0, 100% 90%, 5% 90%, 0 100%);
    background-color: #485161;
    height: 500px;
    align-self: flex-end;
}
.parallelogram{
    width: 30%;
    height: 200%;
    position: absolute;
    top: -20px;
    left: 37%;
    border: 5px solid white;
    background: transparent;
    z-index: 1;
    transform: skew(29deg);
}
.long-page__image-text {
    position: relative;
    margin-bottom: 200px;
}
.long-page__image-text .content{
    z-index: 2;
    position: relative;
    display: flex;
}
.long-page__image-text img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    max-width: 800px;
    max-height: 790px;
    border: 2px solid #fff;
}
.long-page__heading-box{
    position: relative;
}

.lines{
    display: flex;
    height: 135px;
    padding: 20px;
    margin: 20px 0;
}

.lines h1{
    margin: 0;
    border-left: 4px solid var(--main-light);
    border-bottom: 4px solid var(--main-light);
    padding-left: 20px;
    padding-bottom: 20px;
}

.long-page__image-text.rotated > .passion-page__box{
    clip-path: polygon(0 0, 92% 0, 100% 10%, 100% 100%, 95% 85%, 0 85%);
}

.arrow.rotated{
    transform: scale(-1,1);
}

.arrow{
    margin: 35px 0;
}
.heading{
    display: flex;
    width: 54%;
}
.heading .lines{
    background-color: #485161;
    margin: 0;
    width: 120%;
    align-self: flex-end;
    position: relative;
    z-index: 2;
}
.long-page__video-heading{
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
}
.long-page__video-heading iframe{
    align-self: flex-end;
    width: 80%;
    height: 500px;
}
.connector{
    width: 534px;
    height: 225px;
    background-color: #485161;
    transform: skew(-20deg);
    align-self: flex-end;
    position: relative;
    z-index: 0;
    left: -122px;
}